@page
@model AspnetRun.Web.Pages.OrderSubmittedModel
@{
}

<!-- Track Order Section Start -->
<div class="track-order-section section mt-90 mb-50">
    <div class="container">
        <div class="row align-items-center">

            <div class="track-order-title text-center col-12 mb-80">
                <h2>Your Order Submitted Successfully...</h2>                
            </div>
        </div>
    </div>
</div>
<!-- Track Order Section End -->
